<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
  <todo></todo>
</div>


<template id="tplTodoList">
<ul>
  <todo-item v-for="(task,i) in tasks" :i="i" :task="task" @del="del(i)"></todo-item>
</ul>
</template>
<template id="tplTodoItem">
  <li>{{i+1}} - {{task}} <button @click="del(i)">x</button></li>
</template>
<template id="tplTodo">
  <div>
    <h1>待办事项列表</h1><hr>
    <todo-add @add="add"></todo-add>
    <todo-list :tasks="tasks"></todo-list>
  </div>
</template>
<template id="tplTodoAdd">
  <div>
    <input v-model="task"/><button @click="add()">添加</button>
  </div>
</template>
<script>
var todoAdd={//<todo-add>
  template:"#tplTodoAdd",
  data(){ return { task:"" } },
  methods:{
    add(){
      this.$emit("add",this.task);
      this.task="";
    }
  }
};
var todoItem={//<todo-item>
  template:"#tplTodoItem",
  props:["i","task"],
  methods:{
    del(i){
      this.$emit("del",i);//爹的del(i)
    }
  }
};
var todoList={//<todo-list>
  template:"#tplTodoList",
  props:["tasks"],//准备接父组件给的tasks
  methods:{
    del(i){ this.tasks.splice(i,1); }
  },
  components:{ todoItem }//<todo-item>
};
Vue.component("todo",{
  template:"#tplTodo",
  data(){
    return { tasks:["吃饭","睡觉","打亮亮"] }
  },
  methods:{
    add(task){
      this.tasks.push(task);
    }
  },
  components:{ todoAdd, todoList }
           //<todo-add> <todo-list>
});

</script>
<script>
new Vue({ el:"#app" })
</script>
</body>
</html>