/*----CSS初始化-------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 14px "Microsoft Yahei";
}

.currency {
    margin: 0 auto;
    width: 1226px;
}

/*------清除浮动特性*/
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* header 顶部 */
/* 小米logo变换 */
div.change {
    width: 55px;
    height: 55px;
    float: left;
    overflow: hidden;
    margin: 22px 89px 0 0;
  }
  .change a {
    display: block;
    width: 110px;
    height: 55px;
    background-color: #ff6700;
    margin-left: -55px;
    transition: 0.15s linear;
  }
  .change a::before {
    content: " ";
    float: right;
    width: 55px;
    height: 55px;
    background: url('http://127.0.0.1:3000/phone/mi-logo.png') no-repeat 50% 50%;
  }
  .change a::after {
    float: left;
    content: " ";
    width: 55px;
    height: 55px;
    background: url('http://127.0.0.1:3000/phone/mi-home.png') no-repeat 50% 50%;
  }
  .change a:hover {
    margin-left: 0px;
  }
/* 最上面的导航栏*/
.nav-header {
    height: 40px;
    background-color: #333333;
}

.nav-t {
    height: 40px;
}

.nav-t ul li {
    float: left;
    height: 40px;
    line-height: 40px;
}

.nav-t ul li a {
    margin: 0 7px;
    color: #b0b0b0;
    font-size: 12px;
}

.nav-t ul li a:hover {
    color: white;
}

.nav-t ul li b {
    font-weight: normal;
    font-size: 10px;
    color: #423c37;
}

.nav-t .last {
    float: right;
    /* margin-left: 25px; */
    position: relative;
}

.nav-t .last a {
    height: 40px;
    margin: 0;
    display: block;
    text-align: center;
    width: 120px;
    background-color: #424242;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}

.nav-t .last a i {
    margin-right: 5px;
}

.nav-t .last a:hover {
    background-color: #fff;
    color: #ff6b00;
}

.nav-t .last:hover .shopcar {
    /* height: 97px; */
    height: auto;
    z-index: 999;
}

.last .shopcar {
    font-size: 12px;
    height: 0;
    width: 316px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: all .3s;
    overflow: hidden;
    line-height: 97px;
    text-align: center;
}
.shopcar .car-default {
    width: 316px;
    height: 97px;
}
.shopcar .shop-list {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.shopcar .shop-list li dd {
    display: block;
    float: left;
}
.shopcar .shop-list li {
    position: relative;
    margin: 12px 0;
    width: 100%;
    height: 79px;
    float: left;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.shopcar .shop-list .car-img {
    margin-top: 12px;
}
.shopcar .shop-list .shop-name {
    text-align: left;
    line-height: 80px;
    margin-left: 15px;
    width: 141px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shopcar .shop-list .s-price {
    margin-right: 15px;
    float: right;
}
.shopcar .shop-list .s-c-del {
    font-size:12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(51, 51, 51, 0.3);
    cursor: pointer;
}
.index-login-box {
    width: 270px;
    height: 40px;
    float: right;
    position: relative;
    text-align: center;
}

.index-login-box .index-user-info a {
    display: inline-block;
    width: 120px;
    line-height: 40px;
    font-size: 12px;
    color: #b0b0b0;
}
.index-login-box .index-user-info a:hover {
    color:  #ff6b00;
    background-color: #fff;
}

.index-user-info {
    float: left;
    width: 120px;
    height: 40px;
}

.not-login {
    float: right;
    margin-right:25px;
}
.index-user-info:hover .info-down{
    height: 150px;
}
.info-down {
    padding: 7px 0;
    width: 120px;
    height: 0px;
    position: absolute;
    top:40px;
    left: 0;
    background-color: #fff;
    z-index: 999;
    overflow: hidden;
    transition: 0.3s linear;
}
.index-user-info .info-down li {
    width: 120px;
    height: 30px;
}

.index-user-info .info-down  a {
    margin:0;
    color: #424242;
    display: block;
    width: 120px;
    line-height: 30px;
    text-align: center;
}
.index-user-info .info-down li a:hover {
    color: #ff6700;
    background-color: rgba(51, 51, 51, 0.1);
}
/*----下拉导航栏------*/
/* 导航栏下拉菜单 上标题*/
.nav-c-bottom .nav-flags {
    width: 64px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -33px;
    border: 1px solid #ff6b00;
    color: #ff6b00;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.nav-nav {
    position: relative;
}

.nav-c {
    height: 100px;
    overflow: visible;
}

.nav-c>a {
    float: left;
    margin-top: 22px;
    margin-right: 189px;
}

/* .nav-c>a:hover {
    background: url(../image/index/mi-home.png);
} */

.nav-c .serch {
    width: 294px;
    height: 48px;
    border: 1px solid #b0b0b0;
    float: right;
    margin-top: 25px;
}

.nav-c .serch input[type=text] {
    width: 243px;
    height: 48px;
    outline: 0;
    border-right: 1px solid #b0b0b0;
    text-indent: 2em;
}

.nav-c .serch div {
    width: 50px;
    height: 48px;
    float: right;
    text-align: center;
}

.nav-c .serch div a {
    display: block;
    width: 50px;
    height: 48px;
    line-height: 48px;
    color: #616161;

}

.nav-c .serch div a i {
    font-size: 20px;
}

.nav-c .serch div a:hover {
    background-color: #FF6b00;
    color: white;
}

.text {
    color: #333;
    font-size: 16px;
}

a.text:hover {
    color: #ff6b00;
}

/*导航栏下拉菜单*/
/* .nav-c ul li:hover .nav-c-bottom {
    border-top: 1px solid #e0e0e0;
    height: 230px;
} */
.nav-menu-bar {
    width: 100%;
    position:absolute;
    top:100px;
    left:0;
    height: 0px;
    background-color: #fff;
    transition: 0.3s linear 0.2s;
    /* border-top: 1px solid rgba(51,51,51,0); */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}
.menu-bar-box ul{
    display: none;
}
ul.m-s-show {
    display: block;
}

div.menu-bar-box {
    width: 1226px;
    height: 230px;
    margin: 0 auto;
}

.menu-bar-box ul li {
    margin: 0;
    width: 204px;
    height: 201px;
    float: left;
    background-color: #fff;
    position: relative;
    text-align: center;
    font-size: 12px;
}

.m-b-title a {
    line-height: 100px;
    float: left;
    margin-right: 20px;
}

.price {
    color: #ff6b00;
}

p.price {
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
    margin-top: 5px;
    font-size: 12px;
}

p.nav-title {
    color: #494949;
    margin-top: 10px;
}

a.nav-list {
    display: block;
    color: #333;
    width: 180px;
    height: 140px;
    text-align: center;
    font-size: 12px;
    margin: 35px 12px 0;
}

.menu-bar-box ul li:nth-child(n+2)::before {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}

/*-------END-------*/

/* 阴影效果 */
.li-shadow {
    transition: all .2s linear;
    background-color: #fff;
    overflow: hidden;
}

.li-shadow:hover {
    z-index: 2;
    transform: translate(0, -3px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* 全部商品导航栏 */
.allshop-nav ul {
    margin-top: 20px;
}

.allshop-nav i {
    font: 14px;
}

.allshop-nav>ul>li>a {
    display: block;
    width: 203px;
    line-height: 42px;
    color: #eaeaea;
    font-family: "微软雅黑";
    padding-left: 30px;
    font-size: 14px;
}

.allshop-nav ul {
    position: relative;
}

.allshop-nav ul li:hover .nav-aside {
    border: 1px solid #b0b0b0;
    width: 993px;
    z-index: 1;
    border-left: 0;
}

.allshop-nav ul li:nth-child(3):hover .nav-aside {
    width: 496px;
}

.allshop-nav ul li:nth-child(4):hover .nav-aside {
    width: 744px;
}

.allshop-nav ul li:nth-child(5):hover .nav-aside {
    width: 496px;
}

.allshop-nav ul li:nth-child(6):hover .nav-aside {
    width: 496px;
}

.allshop-nav ul li:nth-child(7):hover .nav-aside {
    width: 744px;
}

.allshop-nav ul li:nth-child(8):hover .nav-aside {
    width: 744px;
}

.allshop-nav ul li:nth-child(9):hover .nav-aside {
    width: 496px;
}

div.nav-aside {
    width: 0;
    height: 460px;
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: 233px;
    overflow: hidden;
    /*transition: width 0.3s;*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

.nav-aside>ul {
    margin: 0;
    width: 248px;
    height: 460px;
    float: left;
}

.nav-aside-nav img {
    vertical-align: middle;
    margin-right: 15px;
}

a.nav-aside-nav {
    padding: 18px;
    display: block;
    width: 212px;
    height: 40px;
    color: #929292;
    font-size: 12px;
}

a.nav-aside-nav:hover {
    color: #ff6b00;
}

.allshop-nav>ul>li:hover {
    background-color: #ff6721;
}

.allshop-nav>ul>li i {
    float: right;
    margin-right: 23px;
    font-size: 12px;
}

/*----页面底部----*/
.tfoot {
    height: 272px;
}

.tfoot-top {
    height: 79px;
    border-bottom: 1px solid #e0e0e0;
}

.tfoot-top ul li {
    float: left;
    margin: 0 45px;
}

.tfoot-top ul li a {
    line-height: 79px;
    color: #616161;
    font-size: 16px;
}

.tfoot-top ul li a:hover {
    color: #FF6B00;
}

.tfoot-top ul li i {
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.tfoot-center div {
    width: 251px;
    height: 112px;
    float: right;
    margin-top: 40px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.tfoot-center div p:first-child {
    color: #ff6721;
    font-size: 20px;
    margin-bottom: 12px;
}

.tfoot-center div p:nth-child(2) {
    font-size: 12px;
    margin-bottom: 19px;
    color: #616161;
}

.tfoot-center div a {
    display: block;
    width: 118px;
    border: 1px solid #ff6b00;
    margin: 0 auto;
    color: #ff6b00;
    font-size: 12px;
    line-height: 28px;
}

.tfoot-center div a:hover {
    color: #fff;
    background-color: #ff6b00;
}

.tfoot-center div i {
    font-size: 10px;
    margin-right: 3px;
}

.tfoot-center ul li {
    margin-top: 30px;
    float: left;
    width: 160px;
}

.tfoot-center ul li p {
    font-size: 16px;
    color: #424242;
    margin-bottom: 20px;
}

.tfoot-center ul li a {
    display: block;
    color: #757575;
    font-size: 12px;
    margin-bottom: 17px;
}

.tfoot-center ul li a:hover {
    color: #ff6b00;
}

.tfoot-bottom {
    height: 180px;
    background-color: #fafafa;
}

.footer {
    padding-top: 30px;
    width: 1226px;
    margin: 0 auto;
    height: 115px;
}

.footer-img {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 10px;
}

.footer-text {
    float: left;
}

.footer-text>ul {
    height: 20px;
}

.footer-text>ul li {
    float: left;
    height: 10px;
}

.footer-text a {
    margin: 0 7px;
    color: #757575;
    font-size: 12px;
}

.footer-text>ul>li b {
    font-weight: normal;
    font-size: 10px;
    color: #b0b0b0;
}

.foot-title {
    height: 20px;
    color: #b0b0b0;
    font-size: 12px;
}